<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics | Admin Dashboard</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/analytics.css" />
    <link rel="stylesheet" href="/assets/css/categories.css" />
    <link rel="stylesheet" href="/assets/css/topics.css" />
    <link rel="stylesheet" href="/assets/css/settings.css" />
    <link rel="stylesheet" href="/assets/css/accountSettings.css" />
    <link rel="stylesheet" href="/assets/css/productDetail.css" />
    <link rel="stylesheet" href="/assets/css/productCreate.css" />
    <link rel="stylesheet" href="/assets/css/postsDetail.css" />
    <link rel="stylesheet" href="/assets/css/postCreate.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
